<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
<meta charset="utf-8"/>
<meta name="robots" content="nofollow"/>
<meta http-equiv="Expires" content="86400"/>	

	<title>
		<%block name="title">
			Seedfield Songs
		</%block>
	</title>
	<link rel="stylesheet" href="songlists.css">
	
	<script src="https://kit.fontawesome.com/c6131de82f.js" crossorigin="anonymous"></script>
</head>

			<%def name="headerLink(text,href,icon)">

				<span>

					<span class="icon">
						<a href="${href}"><i class="fas fa-${icon}"></i></a>
					</span>

					<span class="clickable big">
						<a href="${href}">${text}</a>
					</span>

				</span>

			</%def>



<body>
	<div class="header">
		${headerLink("Home",links["Home"],"home")}
		${headerLink("Search",links["Search"],"search")}
	</div>
    <h1>${title()}</h1>
  
			<div class="twocolumn">
			% for linktext in linksOnHomepage.keys():
				${headerLink(linktext,links[linksOnHomepage[linktext]],iconsOnHomepage[linktext])}
			% endfor
				<span>You need to log in to see the text of songs. Ask Andrew for a password.</span>
			</div>
	
	<p>When you see a number under "In the last", if you move your mouse over it or tap it, you'll get a list of when it's been used. The pages are quite slow to load because there's a lots of data on each page.</p>

    <p>These pages were created on ${today.isoformat()}.
    Ask me to update the pages if they're out of date!</p>
	
	<h2>What's planned</h2>
	<ul>
		<li>Make links on the song search page to the individual songs.</li>
		<li>Make a just-this-last-year page for quick loading reference</li>
		<li>This now generally works as I'd like. Please let me know if I can provide another option.</li>
		<li>Perhaps sort in-page rather than by loading another page.</li>

		<li>Some efficiencies at the backend.</li>
	</ul>

	<h2>What's done now</h2>
	<ul>
		<li>You can now type /song/1346 instead of /songtext/songs/1346 In Christ Alone.html and it'll get you there.</li>
	 	<li>Home and Seach buttons on all the main pages</li>
		<li>You can now click a song title anywhere to see the song text when you've logged in. To respect copyright, I'm not publishing song text openly on the internet, so I'm afraid I'll only supply a login to people I know, sorry. There are plenty of other websites supplying song lyrics out there.</li>
		<li>Full text song search is available! Ask me for a login.</li>
		<li>Put the book number next to the song number</li>
		<li>There's now a list of new songs that aren't in Songs of Fellowship.</li>
		<li>Also you can just show December songs in case you're looking for Christmas songs.</li>
		<li>Most of the missing services from 2012-2015 are now in, having transcribed an awful lot of orders of services I've hoarded in Word into OpenSong.</li>
		<li>It's now sortable by how often the songs have been used.</li>
		<li>The program now automatically translates songs without numbers into the same song in Songs of Fellowship if it's there. Notable exceptions are when there are different versions of the song.</li>
		<li>It now recognises Hymns&Psalms numbers as numbers.</li>
		<li>Separate out the numbers from the titles.</li>
		<li>Allow you to see all songs, even those we haven't used when you sort by songs.</li>
		<li>I've put it online - <a href="http://seedfieldsongs.orgfree.com/">https://seedfieldsongs.orgfree.com/</a></li>
	</ul>

</body>
</html>