<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
<meta charset="utf-8"/>	

	
	<title>
		<%block name="title">
			${pagetitle}
		</%block>
	</title>
	<link rel="stylesheet" href="comparisons.css">
	<script src="jquery-3.4.1.js"></script>
	<script src="songcompare.js"></script> 
	
</head>
<body>
<div class = "header row">
	<h1>${title()}</h1>
	
	<table id="headerlayout">
	<thead class="">
	<tr>
		<th colspan="2" style="width:50vw">From:</th>
		<th style="width:50vw">To:</th>
	</tr>
	<tr>
		<td onclick="makeReplacement('fromsong','tosong','replacements');
					 resetsearch();"
			class="yes">
			yes
		</td>
		<td class="centred">
			<textarea rows="1" id="fromsong" class="replacement"></textarea>
		</td>
		<td class="centred">
			<textarea rows="1" id="tosong" class="replacement"></textarea>
		</td>
	</tr>
	<tr>
		<td colspan="3" class="centred">
			<textarea rows="5" id="replacements" class="replacement"></textarea>
		</td>
	</tr>
	</thead>
	</table>
</div>

<div class="body row">
	<div class="left col scroll-y">

			<table id="from" class=""><tbody>
			% for song in fromsongs:
				<tr class="touchtooltip">
					<td class="" style="display:none">${songContents[song].songname}</td>
					<td class="fromsong" 
						onclick="toggletooltip(this); 	
								clearOrCopyPreviousInto(this,'fromsong','tooltipyes');
								clearOrCopyPreviousInto(this,'searchbox','tooltipyes');
								uncomplete('searchbox');
								zapIfNonEmpty();
						">	
							${songContents[song].songname}
							<span class="tooltiptext">
								${songContents[song].lyrics}
							</span>
					</td>
					<td class="no narrow" onclick="byebye(this);resetsearch();">X</td>
				</tr>
			% endfor	
			</tbody>
			</table>
	</div>

	<div class="right col">
		<div class="search row">
			<div class="widerleft col">
				<textarea 	
						rows="2" 
						id="searchbox" 
						class="" 
						oninput="uncomplete(this);"
						onkeypress="return onEnterZapNonMatchingSubthingsOf(event,'searchbox','tr','to');"
						></textarea>
			</div>
			<div 	class="yes narrowerright col" 
					onclick="zapNonMatchingSubthingsOf('searchbox','tr','to');"
						>update</div>
		</div>
		<div class="undersearch row scroll-y">
			<table id="to" class=""><tbody>
			% for song in tosongs:
				<tr class="touchtooltip">
					<td class="" style="display:none">${songContents[song].songname}</td>
					<td class="tosong" 
							onclick="toggletooltip(this); clearOrCopyPreviousInto(this,'tosong','tooltipyes');">
							${songContents[song].songname}
							<span class="tooltiptext">
								${songContents[song].lyrics}
							</span>
					</td>
				</tr>
			% endfor	
			</tbody>
			</table>
		</div>
	</div>
</div>


</body>
</html>
